* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #201e1e;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #000;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #1db954;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background-color: #1db954;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

/* PLAYLISTS */
.playlists {
    padding: 40px;
}

.playlists h2 {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background-color: #181818;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    background-color: #282828;
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* CTA */
.cta {
    text-align: center;
    padding: 50px 20px;
    background-color: #1db954;
    color: black;
}

.cta button {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
}